/* Remove default margin, padding, and outline; remove text decoration from all elements */
* {
    outline: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* Set the base font size for the HTML document */
html {
    font-size: 14px;
}

/* Set base styles for the body element */
body {
    overflow-y: auto;
    overflow-x: auto;
    background: lightseagreen; /* Light gray background */
    font-size: 0.88rem;
    font-family: hack, monospace;
    color: rgba(43, 43, 43, 0.93);
    height: 100%;
    width: 100%;
}

/* Make HTML and body elements display as flex containers in column direction */
html, body {
    display: flex;
    flex-direction: column;
}

/* Set the default link color */
a {
    color: rgba(43, 43, 43, 0.93);
}

/* Style for h1 elements */
h1 {
    font-weight: 660;
    font-size: 3rem;
}

/* Style for .box elements */
.box {
    width: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
}

/* Style for date-time in header */
.head #date-time {
    font-size: 20px;
    font-family: hack, monospace;
    color: white;
    height: 30px;
    background-color: #1C1C1C;
    position: relative;
    width: 100%;
    text-align: center;
}

/* Style for nav element */
nav {
    height: 83vh;
    background-color: rgba(226, 226, 226, 0.93); /* Change background color to a darker shade */
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35); /* Lighter shadow */
    top: 0;
    font-family: hack, monospace;
    width: 50vh;
    bottom: 0;
    position: sticky;
}

/* Remove list style from nav list items */
nav li {
    list-style-type: none;
}

/* Style for .side-item elements in nav */
nav .side-item {
    height: 40px;
    text-align: center;
    position: relative;
    width: 70px;
    font-size: 30px;
    top: 8px;
}

/* Style for .nav-item elements */
.nav_item {
    font-size: 18px;
    margin-left: 10px;
    position: relative;
    color: #005aa6;
    font-weight: 600;
    font-family: hack, monospace;
}

/* Style for hover and selected state of sidebar items */
.sidebar-item:hover, .selected {
    margin-left: 0;
    background: lightblue;
    color: #0072C6;
    overflow: hidden;
}

/* Style for buttons */
.button {
    border-radius: 8px;
    padding: 4px 6px;
    font-family: hack, monospace;
    border: 1px solid transparent;
    background-color: darkblue;
    width: 10vh;
    cursor: pointer;
    font-weight: 300;
    font-size: 16px;
    margin: 4px 0;
    color: white;
}

/* Style for the logo container */
.dashboard_logo {
    display: flex;
    text-align: center;
    margin: 10px 0 20px 20px;
}

/* Style for logo image */
.dashboard_logo img {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

/* Style for logo text */
.dashboard_logo span {
    padding-left: 15px;
    top: 15px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 21px;
}

/* Style for main page logo */
.main_page_logo {
    position: absolute;
    border-radius: 50%;
    left: 56%;
    width: 145px;
    height: 145px;
}

/* Style for all of the links */
a {
    display: table;
    color: rgb(85, 83, 83);
    width: 280px;
    font-size: 14px;
    position: relative;
    padding: 10px;
}

/* Style to make the dashboard hidden */
#dashboard {
    text-align: center;
    display: none;
    width: 100%;
}

/* Hide food list page */
#food-list {
    display: none;
    overflow-x: auto;
    width: 100%;
}

/* Style for login successful section */
.intro_title {
    font-family: hack, monospace;
    position: absolute;
    left: 45%;
    text-align: center;
    top: 30vh;
}

/* Style for intro elements */
.intro {
    margin: 0 30px 0 30px;
    font-family: hack, monospace;
    color: rgba(43, 43, 43, 0.93);
    font-size: 18px;
    font-weight: 900;
    position: absolute;
    top: 45vh;
}

/* Style for the latest news title */
.latest_news {
    left: 50%;
    text-align: center;
    position: absolute;
    font-family: hack, monospace;
    top: 50vh;
}

/* Style for the news paragraph */
.news {
    margin: 0 30px 0 30px;
    font-family: hack, monospace;
    text-align: center;
    font-size: 18px;
    position: absolute;
    font-weight: 900;
    top: 65vh;
}

/* Style for food content container */
#food-content {
    font-family: hack, monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

/* Style for top of food content */
#top {
    position: sticky;
    display: flex;
}

/* Style for right side of food content */
#bottom {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
}

/* Style for form boxes */
.form {
    border-radius: 40px;
    flex: 1;
    max-width: 50%;
    width: 380px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin: 20px 0 0 20px;
    max-height: 40vh;
}

/* Style for forms inside form boxes */
.form form {
    display: flex;
    align-items: center;
    background-color: rgba(226, 226, 226, 0.93);
    justify-content: center;
    flex-direction: column;
    padding: 20px 10px;
    border-radius: 30px;
    height: 100%;
}

/* Style for inputs inside form boxes */
.form input {
    font-family: hack, monospace;
    border: none;
    border-radius: 8px;
    outline: none;
    margin-top: 18px;
    font-size: 16px;
    width: 100%;
    padding: 6px 15px;
    background-color: #eee;
}

/* Remove top margin for the last input in form boxes */
.form input:last-child {
    margin-top: 0;
}

/* Style for submit button in form boxes */
.form input[type=submit] {
    border: 1px solid transparent;
    font-family: hack, monospace;
    background-color: darkblue;
    color: white;
    cursor: pointer;
    font-weight: 700;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    width: 20vh;
}

/* Style for add item form */
#add-item-form {
    height: 100%;
    transition: all 0.8s ease-in-out;
}

/* Style for the select option in both charts */
.select-checkbox {
    width: 20px;
    height: 20px;
    transform: scale(1.5); /* Increased the scale for readability */
}

/* Style for food table container */
.food-table-box {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}

/* Style for food table */
.food-table-box .food-table {
    text-align: center;
    width: 90%;
}

/* Style for table header in food table */
.food-table-box .food-table thead {
    background-color: black;
    font-size: 16px;
    color: white;
}

/* Style for table data in food table */
.food-table-box .food-table td {
    padding: 10px;
}

/* Style for food table items */
.food-table-item {
    text-align: center;
    background-color: rgba(226, 226, 226, 0.93);
    color: black;
}

/* Style for today's list */
#add_todays_chart {
    font-family: hack, monospace;
    position: sticky;
    padding: 10px 0 10px 20px;
    width: 50%;
    left: 20%;
}

/* Hide today's list */
#todays-list {
    display: none;
}

/* Style for today's list and remove today's list */
#todays-list {
    width: 40%;
}

#remove_today_chart {
    width: 90%;
}

/* Style for add and remove today's list output */
#add-todays-list-output, #remove-todays-list-output {
    padding-top: 10px;
    font-size: 18px;
}

/* Style for the footer with calculations in today's list */
#todays-list-table tfoot td {
    background-color: rgba(226, 226, 226, 0.93);
}

/* Style for total calculation */
.total_calc {
    background-color: rgba(226, 226, 226, 0.93);
}

/* Style for chart box */
#chart_div {
    width: 1000px;
    height: 1000px;
}

/* Style for invisible elements */
.invisible {
    display: none;
}

/* Style for charts container */
#charts {
    padding: 20px;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: rgba(226, 226, 226, 0.93);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

/* Style for footer */
.foot {
    background-color: #1C1C1C;
    height: 30px;
    text-align: center;
    width: 100%;
    bottom: 0;
}

/* Style for footer content */
.foot-cont {
    font-size: 14px;
    font-family: hack, monospace;
    padding-top: 10px;
    color: #fff;
}

/* Style for error messages */
.error {
    background-color: rgba(130, 5, 11, 0.62);
}
